.home__cart {
  display: grid;
  grid-template-areas:
    "your__items sum "
    "card sum";
  width: 100%;
}

.your__items {
  grid-area: your__items;
  border: solid #253c59 1px;
  width: 90%;
  margin-left: 90px;
  margin-top: 40px;
  height: 750px;
}
.parent_jacet {
  display: flex;
  align-items: flex-end;
  margin: 30px;
}
h5 {
  color: #253c59;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 40px;
}
.sum {
  grid-area: sum;
  border: solid #253c59 1px;
  height: 750px;
  width: 60%;
  margin-top: 40px;
}
.checkout {
  border: solid #253c59 1px;
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #253c59;
  align-items: center;
}
.sum__box {
  color: #253c59;
  font-size: 50px;
  list-style-type: none;
  padding: 0;
  margin: 70px;
  display: flex;
  justify-content: center;
}
.sum__icon {
  color: #253c59;
  font-size: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.card {
  grid-area: card;
  border: solid #253c59 1px;
  margin-left: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 450px;
  width: 90%;
}

.choosen__info {
  border: solid #253c59 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #253c59;
  height: 65px;
  width: 18%;
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 0px;
}
.add {
  border: solid #253c59 1px;
  color: #253c59;
  font-size: 20px;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  width: 7%;
  height: 40px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 300px;
  margin-bottom: 0;
}

.cardnumber {
  border: solid #253c59 1px;
  height: 60px;
  width: 60%;
  display: flex;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #253c59;
  align-items: center;
  margin: 15px;
}
.out {
  border: solid #253c59 1px;
  height: 60px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #253c59;
  align-items: center;
  margin: 15px;
}
.parent {
  display: flex;
}
.date {
  border: solid #253c59 1px;
  height: 60px;
  width: 30%;
  display: flex;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #253c59;
  align-items: center;
  margin-left: 15px;
}
.cvc {
  border: solid #253c59 1px;
  height: 60px;
  width: 30%;
  display: flex;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #253c59;
  align-items: center;
}
