.home_checout {
  background-color: #f5f5f5;
  height: 1500px;
}

.orderinformation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 700px;
  font-size: 30px;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  color: #253c59;
  margin-top: 50px;
}
.finish {
  color: #253c59;
  font-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.car {
  color: #253c59;
  font-size: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
