.home__jacet {
  display: grid;
  grid-template-areas:
    "jacet__page  page_info"
    "jacet_description page_infon";
  width: 100%;
}
.jacet__page {
  grid-area: jacet__page;
  border: solid #253c59 1px;
  margin-left: 90px;
  margin-top: 40px;
  width: 90%;
  display: flex;
}
.jacet_description {
  font-family: Lexend Peta UI, Tahoma, Geneva, Verdana, sans-serif;
  color: #253c59;
  width: 50%;
  font-size: 25px;
  margin: 20px;
}
.description {
  font-family: Lexend Peta, UI, Tahoma, Geneva, Verdana, sans-serif;
  color: #253c59;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}
.add_to {
  border: solid #253c59 1px;
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #253c59;
  align-items: center;
  margin-left: 80px;
  margin-top: 30px;
}

.page_info {
  grid-area: page_info;
  width: 50%;
  margin-left: 90px;
  margin-top: 40px;
  height: 750px;
}
.jacet_front {
  grid-area: jacet__page;
  width: 50%;
  height: 900px;
  background-image: url(img/jacetfront.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}
.jacet_back {
  grid-area: jacet__page;
  width: 50%;
  height: 900px;
  background-image: url(img/jacetback.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}
