@import "../import/varibels.css";
@import "../import/style.css";
@import "../import/layouts.css";
@import "../import/home.css";
@import "../import/woman.css";
@import "../import/sale.css";
@import "../import/about.css";
@import "../import/contact.css";
@import "../import/cart.css";
@import "../import/jacet.css";
@import "../import/checkout.css";
