@import "../import/varibels.css";
@import "../import/style.css";
@import "../import/layouts.css";
@import "../import/home.css";
@import "../import/woman.css";
@import "../import/sale.css";
@import "../import/about.css";
