.woman__home {
  display: grid;
  grid-template-areas: "sidebar jacets";
  margin: 70px;
  width: 70%;
}
.jacet_grid {
  display: grid;
  grid-area: jacets;
  grid-row-gap: 100px;
  grid-column-gap: 90px;
  grid-auto-rows: 600px;
  grid-template-areas:
    "jacets1 jacets2 jacets3"
    "jacets4 jacets5 jacets6"
    "jacets7 jacets8 jacets9";
  width: 110%;
  margin-left: 200px;
}

.filter {
  padding: 10px;
  height: 100vh;
  color: #253c59;
  display: flex;
  font-size: 20px;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}

.img_jacet {
  width: 70%;
}
.checkbox {
  font-size: 20px;
  margin: 15px;
}
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
label {
  position: relative;
  display: flex;
}
.checkbox label::before {
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 1em;
  border: 0.05em solid #253c59;
}
.checkbox label:hover::before,
.checkbox input[type="checkbox"]:hover + label::before {
  background-color: #30759c;
}
.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #253c59;
}
.categories_underline {
  border-top: #253c59 solid 1px;
  width: 350px;
}
.size_underline {
  border-top: solid #253c59 1px;
  width: 350px;
}
.color_underline {
  border-top: #253c59 solid 1px;
  width: 350px;
}
.jacets1 {
  grid-area: jacets1;
}
.jacets2 {
  grid-area: jacets2;
}
.jacets3 {
  grid-area: jacets3;
}
.jacets4 {
  grid-area: jacets4;
}
.jacets5 {
  grid-area: jacets5;
}
.jacets6 {
  grid-area: jacets6;
}
.jacets7 {
  grid-area: jacets7;
}
.jacets8 {
  grid-area: jacets8;
}
.jacets9 {
  grid-area: jacets9;
}
.product_information {
  border: solid #253c59 1px;
  width: 80%;
  height: 90px;
  font-size: 20px;
  font-family: Lexend Peta, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  color: #253c59;
}
.fa-heart {
  color: #253c59;
  align-self: flex-end;
  margin: 5px;
  font-size: 30px;
}
.fa-heart:hover {
  color: pink;
}

.colorpalett {
  display: flex;
}
.color1 {
  border-radius: 50%;
  border: #530f05 1px solid;
  background-color: #530f05;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.color2 {
  border-radius: 50%;
  border: #d0814f 1px solid;
  background-color: #d0814f;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.color3 {
  border-radius: 50%;
  border: #91aa9d 1px solid;
  background-color: #91aa9d;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
